@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.btn {
    @include btn-base;
}

.btn-primary {
    background: $gradient-primary;
    color: $dark;
    box-shadow: $shadow-md;
    &:hover {
        transform: translateY(-2px);
        box-shadow: $shadow-glow;
    }
}

.btn-secondary {
    background: transparent;
    color: $white;
    border: 2px solid rgba(255, 255, 255, 0.2);
    &:hover {
        background: rgb(255, 255, 255);
        transform: translateY(-2px);
        border-color: $primary;
    }
}